<%- include('../partials/head') %>
  <%- include('../partials/nav') %>
    <div class="container">
      <h1><%= post.titulo %></h1>
      <img src="https://picsum.photos/200/300" alt="Lorem Picsum">
      <p>Lorem ipsum dolor sit amet.</p>
    </div>
    <%- include('../partials/footer') %>